<section>
    <div class="container">
        {{!-- <div class="ModifyBooking col-12 col-sm-6">
            <a href="/ModifyviewRoomDetails/{{bookingDetails._id}}/{{room._id}}">
                <div class="LessthanIcon">
                    <img src="/images/COnfirmBooking/reply (1).png" alt="" class="backIcon">
                </div>
                <p class="BackMessage">Modify your Booking</p>
            </a>
        </div> --}}
        <div class="MainContent">
            <div class="row">
                <div class="HotelDetails col-12 col-lg-4">
                    <div class="HotelTitleDiv">
                        <div class="HotelDetailsHeadDiv">
                            <p class="HotelHeading">{{room.name}}</p>
                        </div>
                        <div class="Image_AddressDiv">
                            <div class="HotelImageDiv">
                                <img src="/room-images/{{room.img1}}.jpg" alt="" class="HotelImg">
                            </div>
                            <div class="Address_Rating">
                                <div class="AddressDiv">
                                    <p class="Address">{{room.Address}}</p>
                                </div>
                                <div class="rating">
                                    <div class="RatingBox">
                                        <div class="sectionRating">
                                            <p>3.8</p>
                                            <img class="RatingStar1" src="/images/Rooms/Star.png" alt="">
                                        </div>
                                    </div>
                                    <p class="RatingsCount">
                                        ( 32 Ratings )
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="RoomCountInfo">
                            <div class="dates">
                                <img class="RoomCountInfoIcon" src="/images/COnfirmBooking/2012.png" alt="">
                                <p id="CheckinDate" class="DateOfBooking"></p>
                            </div>
                            <div class="RoomAndGuestCount">
                                <img class="RoomCountInfoIcon" src="/images/COnfirmBooking/Hotel Door Hanger.png"
                                    alt="">
                                <p class="RoomAndGuest">{{bookingDetails.roomCount}} Room, {{bookingDetails.guests}}
                                    Guest</p>
                            </div>
                            <div class="RoomStandard">
                                <img class="RoomCountInfoIcon" src="/images/COnfirmBooking/Door Sensor.png" alt="">
                                <p class="RoonStandardInfo">{{bookingDetails.roomType}}</p>
                            </div>
                        </div>
                        <hr>
                        <div class="RoomPaymentCalulations">
                            <div class="RealRoomPrice">
                                <p>Real Room Price: </p>
                                <p class="PaymentCalcNo">₹ {{room.RealPrice}}</p>
                            </div>
                            <div class="RoomOfferPrice">
                                <p>Room Offer Price: </p>
                                <p class="PaymentCalcNo">₹ {{room.OfferPrice}}</p>
                            </div>
                            <div class="NoOfRooms">
                                <p>No:Of Rooms: </p>
                                <p class="PaymentCalcNo"> {{bookingDetails.roomCount}}</p>
                            </div>
                            <div class="NoOfDays">
                                <p>No:Of Days: </p>
                                <p class="PaymentCalcNo"> {{bookingDetails.dayCount}}</p>
                            </div>
                            <hr>
                            <div class="TotalPay">
                                <p>Payable Amount: </p>
                                <p class="PaymentCalcNo">₹ {{bookingDetails.TotalPrice}}</p>
                            </div>
                            <hr>
                            <div class="PaymentOPtions">
                                <a href="/confirmOrder/{{Id}}" id="payAtHotel" class="btn btn-success payBTN ">Pay at
                                    Hotel</a>
                                <div href="#" id="payNow" onclick="PaymentOnline()" class="btn btn-success payBTN">Pay
                                    Now</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="CustomerDetails col-12 col-lg-7">
                    <p class="Customer_Details_Head">Enter Your Details</p>
                    <p class="Custoomer_details_SubHeading">We will use these details to share your booking information
                    </p>
                    {{!-- <form id="VerifyForm" action="" method="post"> --}}
                        <div class="FormTopSection">
                            <div class="row">
                                <div class="NameSection  col-sm-6 ">
                                    <p class="Label">Full Name</p>
                                    <input type="text" id="Fullname" value="{{user.name}}"
                                        placeholder="Enter your First and Last name" name="FullName" required>
                                </div>

                                <div class="EmailSection col-sm-6">
                                    <p class="Label">Email Address</p>
                                    <input type="text" value="{{user.email}}" placeholder="Enter your Email Address"
                                        id="Email" name="FullName" required>
                                </div>
                            </div>
                        </div>
                        <div class="FormMidSection">
                            <div class="row">
                                <div class="Mobile  col-sm-6 ">
                                    <p class="Label">Mobile Number</p>
                                    <input type="text" value="{{user.number}}" id="MobNumber"
                                        placeholder="Enter your First and Last name" name="FullName" required>
                                </div>

                                <div class="SendOTPSection col-sm-6">
                                    <button onclick="SendOTP()" id="OTPBTN" class="btn btn-success">Send OTP</button>
                                </div>
                            </div>
                        </div>
                        <div class="FormBottomSection">
                            <div class="row">
                                <div class="OTP  col-sm-6 ">
                                    <p class="Label">Enter OTP</p>
                                    <p id="OTPError"></p>
                                    <input type="number" id="OTP" placeholder="Enter four digit OTP" name="FullName">
                                </div>

                                <div class="SendOTPSection col-sm-6">
                                    <button onclick="VerifyOTP()" id="VerifyOTPbtn" class="btn btn-success"
                                        value="">Verify
                                        details</button>
                                </div>
                            </div>
                        </div>
                        {{!--
                    </form> --}}
                </div>
            </div>
        </div>
    </div>
</section>





<style>
    section {
        min-height: 100vh;
    }

    hr {
        background-color: gray;
    }

    .ModifyBooking {
        display: flex;
        justify-content: flex-start;
    }

    .ModifyBooking a {
        width: 100%;
        display: flex;
        margin-top: 50px;
    }

    .ModifyBooking a:hover {
        text-decoration: none;
        transition: all 0.2s ease-in-out;
        transform: scale(1.005);
    }

    .LessthanIcon {
        width: 15px;
        height: 15px;
    }

    .backIcon {
        width: 15px;
        height: 15px;
    }

    .BackMessage {
        margin-left: 5px;
        color: red;
        font-weight: 600;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }

    .MainContent {
        margin-top: 15px;
        width: 100%;
    }

    .HotelDetails {
        border: 1px solid gray;
        border-radius: 10px;
        margin: 5px;
        padding: 22px 14px;
    }

    .HotelTitleDiv {}

    .HotelImg {
        height: 110px;
        border-radius: 10px;
    }

    .Image_AddressDiv {
        margin-top: 10px;
        display: flex;
    }

    .Address_Rating {
        margin-left: 18px;
        display: flex;
        flex-direction: column;
    }

    .Address {
        font-size: 15px;
        color: black;
    }

    .rating {
        display: flex;
        align-items: baseline;
    }

    .RatingBox {
        display: flex;
        background-color: rgb(36, 119, 0);
        padding: 2px 1rem;
        color: white;
        font-weight: 600;
        width: 69px;
        margin-right: 5px;
        height: 30px;
    }

    .sectionRating {
        display: flex;
    }

    .RatingStar1 {
        width: 16px;
        height: 13px;
        margin-top: 6px;
        margin-left: 6px;
    }

    .RatingsCount {
        color: gray;
        font-size: 12px;
    }

    .RoomCountInfo {
        margin: 24px 0px;
    }

    .dates,
    .RoomStandard,
    .RoomAndGuestCount {
        display: flex;
        margin: 5px 0px;
    }

    .RoomCountInfoIcon {
        height: 30px;
        width: 30px;
        margin-right: 10px;
    }

    .DateOfBooking,
    .RoomAndGuest,
    .RoonStandardInfo {
        font-weight: 700;
        margin-top: 3px;
        margin-bottom: 0px;
    }

    .RoomPaymentCalulations {
        padding: 1px 1px;
    }

    .RealRoomPrice,
    .RoomOfferPrice,
    .NoOfDays,
    .NoOfRooms,
    .TotalPay {
        display: flex;
        justify-content: space-between;
        padding-right: 10px;
    }

    .PaymentCalcNo {
        font-weight: 600;
    }

    .TotalPay p {
        font-size: 25px;
        margin-bottom: 0;
    }

    .PaymentOPtions {
        width: 100%;
        display: flex;
        justify-content: space-around;
    }

    .payBTN {
        width: 45%;

    }


    .CustomerDetails {
        border: 1px solid gray;
        border-radius: 10px;
        margin: 5px;
        height: fit-content;
    }

    .Customer_Details_Head {
        font-size: 20px;
        font-weight: 700;
        margin-top: 18px;
        margin-bottom: 0px;
    }

    .Custoomer_details_SubHeading {
        color: gray;
    }

    .FormTopSection {
        width: 100%;
    }

    .Label,
    .HotelHeading {
        font-size: 20px;
        font-weight: 600;
        margin-bottom: 2px;
    }

    input[type="text"] {
        border-radius: 10px;
        border: 1px solid gray;
        padding: 5px 10px;
        margin-bottom: 18px;
        max-width: 260px;
        min-width: 240px;
    }

    .SendOTPSection .btn {
        border-radius: 10px;
        padding: 5px 10px;
        margin-bottom: 30px;
        max-width: 260px;
        min-width: 240px;
        margin-top: 32px;
        font-weight: 700;
        letter-spacing: 0.2em;
    }

    .FormBottomSection {
        margin-bottom: 5px;
    }


    #OTPError {
        color: red;
        font-size: 15px;
        margin: 0px;
    }






    .section {
        display: none;
    }

    /* .section {}

    .topHeader {
        margin-top: 2rem;
        padding: 1rem 2rem;
        width: 100%;
        border: 2px solid rgb(182, 182, 182);
    }

    .row {
        justify-content: center;
    }

    .imageDiv {
        padding: 1rem;
    }

    .image {
        height: 12rem;
    }

    .HotelDetails {
        padding: 1rem;
    }

    .hotelDetails {

        padding: 3rem;
    }

    .hotelDetails h3 {
        margin: 1rem;
    }

    .hotelDetails h5 {
        margin: 1rem;
    }

    .OrderDetails {
        margin-top: 3rem;
        border: 2px solid rgb(182, 182, 182);
        padding: 2rem;
        margin-bottom: 10rem;
    }

    .BookingHeadin {
        display: flex;
        margin-bottom: 1rem;
    }

    .BookingHeadin h3:first-child {
        margin-right: auto;
    }

    .BookingHeadin a:last-child {
        margin-left: auto;
    }

    .BooingDetails {
        margin-bottom: 2rem;
    }

    .horiLine {
        height: 1px;
        background-color: rgb(199, 199, 199);
    }

    .ItemView {
        display: flex;
        margin: 1rem auto;
    }

    .ItemView h4 {
        margin-left: 1rem;
    }

    .ItemView h5 {
        margin-top: 3px;
    }

    .Summery {
        margin-top: 2rem;
    }
    .finalSummary {
        margin-top: 1rem;
        width: 10rem;
    }
    .FinalSummaryItem {
        display: flex;
    }
    .FinalSummaryItem h6:first-child {
        margin-right: auto;
    }
    .FinalSummaryItem h6:last-child {
       margin-left: auto;
    }
    .Confirm {
        margin-top: 1rem;
    }*/
</style>

<script>


    // call the function when the page loads
    window.onload = convertDateFormat;

    // function to convert date format from yyyy-mm-dd to dd-mm-yyyy
    function convertDateFormat() {
        //alert("Accdsfsd");
        // input date string in yyyy-mm-dd format
        const checkin = '{{bookingDetails.checkin}}';
        const checkout = '{{bookingDetails.checkout}}';

        // extract day, month, and year components
        const year = checkin.substring(0, 4);
        const month = checkin.substring(5, 7);
        const day = checkin.substring(8);

        const year2 = checkout.substring(0, 4);
        const month2 = checkout.substring(5, 7);
        const day2 = checkout.substring(8);


        // re-arrange components in dd-mm-yyyy order
        const newcheckin = `${day}-${month}-${year}`;

        const newcheckout = `${day2}-${month2}-${year2}`;
        //alert(newcheckin)

        var Dates = newcheckin + ' to ' + newcheckout

        document.getElementById('CheckinDate').textContent = Dates

        // disable pay button
        var payAtHotel = document.getElementById("payAtHotel")
        var payNow = document.getElementById("payNow")

        payAtHotel.hidden = true;
        payNow.hidden = true;

        //console.log(newDateStr); // output: 25-02-2023
    }





    // calling For OTP
    function SendOTP() {
        const Mobile = document.getElementById("MobNumber").value;
        const Email = document.getElementById("Email").value;
        const url = `http://localhost:80/OTPRequestToConfirmRoom/${Email}`

        if (Mobile.length == 10) {
            //Procced with OTP
           // alert(url)
            fetch(url).then(response => {
                if (response) {
                    return response.json();
                }
                throw new Error('Network response was not ok.');
            }).then(data => {
                console.log(data);
                //alert(data)
                //alert("asdfasdfa");
            }).catch(error => {
                console.log("There was a problem with the fetch operations:", error);
            });
        } else {
            alert("Please provide Correct Mobile Number ");
        }
    }


    function VerifyOTP() {
        const OTP = document.getElementById('OTP').value;
        const Email = document.getElementById("Email").value;
        const url = `http://localhost:80/VerifyDetailsBeforeConfirm/${Email}/${OTP}`

        //alert(OTP.length);
        if (OTP.length == 4) {
            fetch(url).then(response => {
                if (response) {
                    return response.json();
                }
                throw new Error('Network response was not ok.');
            }).then(data => {
                if (data.status) {
                    OPTVerified()
                    console.log(data)
                } else {
                    alert("Invalid OTP")
                    document.getElementById('OTP').value = null
                    document.getElementById('OTPError').innerHTML = 'Wrong OTP, Enter correct OTP.'
                }
            }).catch(error => {
                console.log("There was a problem with the fetch operations:", error);
            });
        } else {
            alert("Invalid OTP, only Four digits")
            document.getElementById('OTP').value = null
            document.getElementById('OTPError').innerHTML = 'Wrong OTP, Enter correct OTP.'
        }


    }

    function OPTVerified() {
        var verifyBTN = document.getElementById("VerifyOTPbtn")
        var OTPBTN = document.getElementById("OTPBTN")
        var Fullname = document.getElementById("Fullname")
        var Email = document.getElementById("Email")
        var MobNumber = document.getElementById("MobNumber")
        var OTP = document.getElementById("OTP")

        var payAtHotel = document.getElementById("payAtHotel")
        var payNow = document.getElementById("payNow")

        verifyBTN.disabled = true;
        OTPBTN.disabled = true;
        Fullname.disabled = true;
        Email.disabled = true;
        MobNumber.disabled = true;
        OTP.disabled = true;

        payAtHotel.hidden = false;
        payNow.hidden = false;

    }

    function PaymentOnline() {
        alert("This feature will Coming Soon....");
    }


</script>