<section class="section">
    <div class="container">
        <div class="topHeader">
            <div class="row">
                <div class="imageDiv col-xs-12 col-sm-7 col-md-7 col-lg-4 col-xl-4">
                    <img class="image" src="/room-images/632ac6170cd5f2d92b87f45a1.jpg" alt="">
                </div>
                <div class="HotelDetails col-xs-12 col-sm-6 col-md-5 col-lg-5 col-xl-5">
                    <h3>{{room.name}}</h3>
                    <h5>{{room.Place}}</h5>
                    <h5>{{room.State}} {{room.District}}</h5>
                    <h5>Ph: {{room.contact}}</h5>
                </div>
            </div>
        </div>
        <div class="OrderDetails col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
            <div class="BookingHeadin">
                <h3>Edit Booking Details</h3>
            </div>
            <form action="/saveEditedBookingDetails" method="post">
                <div class="BooingDetails">
                    <input type="text" name="_id" value="{{bookingDetails._id}}" hidden>
                    <input type="text" name="roomId" value="{{bookingDetails.roomId}}" hidden>
                    <input type="number" name="price" value="{{room.OfferPrice}}" hidden>
                    <div class="ItemView">
                        <h5>CheckIn:</h5>
                        <input class="inputDateCheckin" type="date" name="checkin" value="{{bookingDetails.checkin}}">
                    </div>
                    <div class="ItemView">
                        <h5>CheckOut:</h5>
                        <input class="inputDateCheckout" type="date" name="checkout" value="{{bookingDetails.checkout}}" id="">
                    </div>
                    <div class="ItemView">
                        <h5>No:Of Rooms:</h5>
                        <input class="" type="number" name="roomCount" min="1" value="{{bookingDetails.roomCount}}" id="">
                    </div>
                    <div class="ItemView">
                        <h5>No:Of Guests:</h5>
                        <input type="number" name="guests" min="1" value="{{bookingDetails.guests}}">
                    </div>
                </div>
                <button class="btn btn-primary" >Save</button>
            </form>
        </div>
    </div>
</section>

<style>
    .section {}

    .topHeader {
        margin-top: 2rem;
        padding: 1rem 2rem;
        width: 100%;
        border: 2px solid rgb(182, 182, 182);
    }

    .row {
        justify-content: center;
    }

    .imageDiv {
        padding: 1rem;
    }

    .image {
        height: 12rem;
    }

    .HotelDetails {
        padding: 1rem;
    }

    .hotelDetails {

        padding: 3rem;
    }

    .hotelDetails h3 {
        margin: 1rem;
    }

    .hotelDetails h5 {
        margin: 1rem;
    }

    .OrderDetails {
        margin-top: 3rem;
        border: 2px solid rgb(182, 182, 182);
        padding: 2rem;
        margin-bottom: 10rem;
    }

    .BookingHeadin {
        display: flex;
        margin-bottom: 1rem;
    }

    .BookingHeadin h3:first-child {
        margin-right: auto;
    }

    .BookingHeadin a:last-child {
        margin-left: auto;
    }

    .BooingDetails {
        margin-bottom: 2rem;
    }

    .horiLine {
        height: 1px;
        background-color: rgb(199, 199, 199);
    }

    .ItemView {
        display: flex;
        margin: 1rem auto;
    }

    .ItemView h4 {
        margin-left: 1rem;
    }

    .ItemView h5 {
        margin-top: 3px;
    }
    input[type=date] {
        margin-left: 2rem;
        border-radius: 25px;
        padding: 2px 10px;
    }
    input[type=number] {
        margin-left: 2rem;
        border-radius: 25px;
        padding: 2px 10px;
        width: 5rem;
    }
</style>