<section>
    <div class="parent">
        <div class="container">
            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img class="d-block w-100 CarouselImage" src="/room-images/{{room.img1}}.jpg" alt="First slide">
                    </div>
                    <div class="carousel-item">
                        <img class="d-block w-100 CarouselImage" src="/room-images/{{room.img2}}.jpg"
                            alt="Second slide">
                    </div>
                    <div class="carousel-item">
                        <img class="d-block w-100 CarouselImage" src="/room-images/{{room.img3}}.jpg" alt="Third slide">
                    </div>
                </div>

                <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                    <div class="prev-bg">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </div>
                </a>
                <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                    <div class="next-bg">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </div>
                </a>

                <ol class="carousel-indicators">
                    <img data-target="#carouselExampleIndicators" data-slide-to="0" class="thumbnail-img active"
                        src="/room-images/{{room.img1}}.jpg" data-index="0">

                    <img data-target="#carouselExampleIndicators" data-slide-to="1" class="thumbnail-img"
                        src="/room-images/{{room.img2}}.jpg" data-index="1">

                    <img data-target="#carouselExampleIndicators" data-slide-to="2" class="thumbnail-img"
                        src="/room-images/{{room.img3}}.jpg" data-index="2">
                </ol>
            </div>
        </div>
        <div class="container">
            <div class="content">
                <div class="main">
                    <div class="name">
                        <h1>{{room.name}}</h1>
                    </div>
                    <div class="booknowtop">

                        {{#if ClickedId}}
                        <a href="/bookNowClicked/{{room._id}}/{{ClickedId}}" class="name">Book Now</a>
                        {{else}}
                        <a href="/bookNow/{{room._id}}" target="_blank" class="name">Book Now</a>
                        {{/if}}
                    </div>
                </div>
                <div class="Address col-md-6 col-lg-4">
                    <p>{{room.Address}}</p>
                </div>
                <div class="price">
                    <div class="PriceOnly">
                        <p class="offerprice">₹{{room.OfferPrice}}</p>
                        <p class="RealPrice">₹{{room.RealPrice}}</p>
                    </div>
                    <p class="perday">Per Room Per Day</p>
                </div>

                {{!-- Rattings --}}
                <div class="rating">
                    <div class="RatingBox">
                        <div class="sectionRating">
                            <p>3.8</p>
                            <img class="RatingStar1" src="/images/Rooms/Star.png" alt="">
                        </div>
                    </div>
                    <p class="RatingsCount">
                        ( 32 Ratings )
                    </p>
                </div>
                {{!-- Rattings --}}


                <div class="book">
                    {{#if ClickedId}}
                    <a href="/bookNowClicked/{{room._id}}/{{ClickedId}}" class="name">Book Now</a>
                    {{else}}
                    <a href="/bookNow/{{room._id}}" target="_blank" class="name">Book Now</a>
                    {{/if}}
                </div>

                {{!-- Ameniteis --}}
                <div class="Amenities">
                    <p>Amenities</p>
                    <div class="AmenitiesItems">
                        <div class="row">

                            {{!-- <div class="Items">
                                <img src="/images/Rooms/internet.png" class="ImageAmenities" alt="">
                                <p>Free Wifi</p>
                            </div> --}}

                            {{#if room.Wifi}}
                            <div class="Items">
                                <img src="/images/Rooms/internet.png" class="ImageAmenities" alt="">
                                <p>Free Wifi</p>
                            </div>
                            {{/if}}

                            {{#if room.FoodService}}
                            <div class="Items">
                                <img src="/images/Rooms/restaurant (1).png" class="ImageAmenities" alt="">
                                <p>Food Service</p>
                            </div>
                            {{/if}}

                            {{#if room.Pool}}
                            <div class="Items">
                                <img src="/images/Rooms/swimming-pool.png" class="ImageAmenities" alt="">
                                <p>Swimming Pool</p>
                            </div>
                            {{/if}}

                            {{#if room.AC}}
                            <div class="Items">
                                <img src="/images/Rooms/air-conditioner.png" class="ImageAmenities" alt="">
                                <p>AC</p>
                            </div>
                            {{/if}}

                            {{#if room.TV}}
                            <div class="Items">
                                <img src="/images/Rooms/smart-tv.png" class="ImageAmenities" alt="">
                                <p>TV</p>
                            </div>
                            {{/if}}
                        </div>

                    </div>

                </div>
            </div>

            {{!-- Ameniteis --}}




            <div class="discription">
                <p class="DescriptionHead">Description</p>
                <p class="Desc">{{room.description}}</p>
            </div>

            <hr class="HRline">

            <div class="Ratingss">
                <p class="ratingsHead">
                    Ratings and reviews
                </p>
                <div class="RatingsDetailedBox">
                    <div class="RatingLeft">
                        <div class="innerBoxSecction">
                            <div class="RatingGreenBox">
                                <p>3.8</p>
                                <img class="RatingStar2" src="/images/Rooms/Star.png" alt="">
                            </div>
                            <p class="RatingStatus">
                                Good
                            </p>
                            <p class="RatingConts">
                                (38 Rating)
                            </p>
                        </div>
                    </div>
                    <div class="ratingRight">
                        <div class="SingleRating">
                            <p>5</p>
                            <img class="RatingStar3" src="/images/Rooms/Star.png" alt="">
                            <div class="RatingSlider">
                                <div class="RatingSelected" style="width:59%;"></div>
                            </div>
                            <p>59%</p>
                        </div>

                        <div class="SingleRating">
                            <p>4</p>
                            <img class="RatingStar3" src="/images/Rooms/Star.png" alt="">
                            <div class="RatingSlider">
                                <div class="RatingSelected" style="width:25%;"></div>
                            </div>
                            <p>25%</p>
                        </div>

                        <div class="SingleRating">
                            <p>3</p>
                            <img class="RatingStar3" src="/images/Rooms/Star.png" alt="">
                            <div class="RatingSlider">
                                <div class="RatingSelected" style="width:10%;"></div>
                            </div>
                            <p>10%</p>
                        </div>

                        <div class="SingleRating">
                            <p>2</p>
                            <img class="RatingStar3" src="/images/Rooms/Star.png" alt="">
                            <div class="RatingSlider">
                                <div class="RatingSelected" style="width:6%;"></div>
                            </div>
                            <p>6%</p>
                        </div>

                        <div class="SingleRating">
                            <p>1</p>
                            <img class="RatingStar3" src="/images/Rooms/Star.png" alt="">
                            <div class="RatingSlider">
                                <div class="RatingSelected" style="width:0%;"></div>
                            </div>
                            <p>0%</p>
                        </div>
                    </div>
                </div>
            </div>

            {{!-- Reviews --}}
            <div class="ReviewsOfUser">
                <div class="MainFeedback">
                    <div class="ReviewHead">
                        <div class="ReviewRightSide">
                            <img class="userHeadIcon" src="/images/Rooms/user.png" alt="">
                            <p class="ReviewUserName">Alfferd KNii</p>
                        </div>
                        <div class="ReviewLeftSide">
                            <div class="ReviewRatingGreenBox">
                                <div class="sectionRating">
                                    <p>3.8</p>
                                    <img class="RatingStar1" src="/images/Rooms/Star.png" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="ReviewFeedback">
                        <p class="review-text">1500s, when an unknown printer took a galley of type and scrambled it to
                            make a type specimen
                            book. It has survived not only five centuries, but also</p>
                        <span class="read-more">Read more</span>
                    </div>
                </div>
                <div class="SeeallReview">
                    <p onclick="SeeAllReviews()">See all reviews</p>
                </div>
                <div class="RemainingReviews">
                    <div class="ReviewHead">
                        <div class="ReviewRightSide">
                            <img class="userHeadIcon" src="/images/Rooms/user.png" alt="">
                            <p class="ReviewUserName">Alfferd KNii</p>
                        </div>
                        <div class="ReviewLeftSide">
                            <div class="ReviewRatingGreenBox">
                                <div class="sectionRating">
                                    <p>3.8</p>
                                    <img class="RatingStar1" src="/images/Rooms/Star.png" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="ReviewFeedback">
                        <p>1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen
                            book. It has survived not only five centuries, but also</p>
                    </div>

                    <div class="ReviewHead">
                        <div class="ReviewRightSide">
                            <img class="userHeadIcon" src="/images/Rooms/user.png" alt="">
                            <p class="ReviewUserName">Alfferd KNii</p>
                        </div>
                        <div class="ReviewLeftSide">
                            <div class="ReviewRatingGreenBox">
                                <div class="sectionRating">
                                    <p>3.8</p>
                                    <img class="RatingStar1" src="/images/Rooms/Star.png" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="ReviewFeedback">
                        <p>1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen
                            book. It has survived not only five centuries, but also</p>
                    </div>
                </div>
            </div>

            {{!-- Reviews --}}



            {{!-- Booking Details --}}
            {{!-- <div class="SearchedData">
                <form action="/saveEditodrequest/{{roomSearch._id}}" method="post"> --}}
                    <div class="SearchDataHead">
                        <p class="HeadText">Confirm Search Details</p>
                        {{!-- <div class="EditOption" id="Edit" onclick="EditOptionEnable()">
                            <img src="/images/Rooms/Edit Row.png" alt="" class="EditIcon">
                            <p>Edit</p>
                        </div>
                        <div class="SaveOption" id="save" onclick="SaveOptionEnable()">
                            <input class=" btn btn-primary" value="Save" type="submit">
                        </div> --}}
                    </div>
                    <hr>
                    <div class="SearchDataMid">
                        <div class="container">
                            <div id="toEdit" class="tomakeItCenter toEdit">
                                <div class="row">
                                    <div class="chechInDIV">
                                        <p class="label">Check-In</p>
                                        <p class="Answer" id="Checkin"></p>
                                    </div>
                                    <div class="chechOutDIV">
                                        <p class="label">Check-Out</p>
                                        <p class="Answer" id="CheckOut"></p>
                                    </div>
                                    <div class="RoomsCountDiv">
                                        <p class="label">Rooms: </p>
                                        <p class="Answer" id="Rooms">{{roomSearch.rooms}}</p>
                                    </div>
                                    <div class="GuestCountDiv">
                                        <p class="label">Guest: </p>
                                        <p class="Answer" id="Guest">{{roomSearch.guests}}</p>
                                    </div>
                                </div>
                            </div>
                            <div id="toSave" class="tomakeItCenter toSave">
                                <div class="row">
                                    {{#if user}}
                                    <input type="text" name="email" value="{{user.email}}" hidden>
                                    {{/if}}
                                    <input type="text" name="RoomId" value="{{room._id}}" hidden>

                                    <div class="chechInDIVSave">
                                        <p class="label">Check-In</p>
                                        <input name="checkin" type="date" value="{{roomSearch.checkin}}">
                                    </div>
                                    <div class="chechOutDIVSave">
                                        <p class="label">Check-Out</p>
                                        <input name="checkout" type="date" value="{{roomSearch.checkout}}">
                                    </div>
                                    <div class="RoomsCountDivSave">
                                        <p class="label">Rooms: </p>
                                        <input type="number" name="rooms" value="{{roomSearch.rooms}}" id="">
                                    </div>
                                    <div class="GuestCountDivSave">
                                        <p class="label">Guest: </p>
                                        <input type="number" name="guests" value="{{roomSearch.guests}}" id="">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            {{!-- Booking Details --}}





            {{!-- Hotel Policies --}}
            {{!-- <div class="HotelPolicies">
                <div class="PoliciesHead">
                    <p>Hotel Policies</p>
                </div>
                <div class="Polices">
                    <p id="Polices">{{HotelPolices}}</p>
                    <ul>
                        {{#each HotelPolices}}
                        <li>{{this.HotelPolices}}1</li>
                        {{/each}}
                    </ul>
                </div>
            </div> --}}

            {{!-- Hotel Policies --}}

        </div>
    </div>
</section>

<style>
    .parent {
        margin-bottom: 25rem;
    }

    .carousel {
        margin: 2rem auto;
    }

    .carousel-indicators {
        position: absolute;
        right: 0;
        bottom: -138px;
        /*10px*/
        left: 0;
        z-index: 15;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        padding-left: 0;
        margin-right: 15%;
        margin-left: 15%;
        list-style: none;
    }

    .carousel-indicators .active {
        border-radius: 10px;
        border: solid brown 5px;
    }



    .prev-bg,
    .next-bg {
        background-color: black;
        border-radius: 100%;
    }

    .prev-bg {
        padding: 16px 12px 12px 12px;

    }

    .next-bg {
        padding: 16px 11px 10px 14px;

    }

    .CarouselImage {
        max-height: 35rem;
        aspect-ratio: 16 / 9;
    }

    .ImageRowParent {
        width: 100%;
        height: 10rem;
        display: flex;
        justify-content: center;
        align-items: flex-start;
    }

    .thumbnail-img {
        border-radius: 10px;
        width: 10rem;
        height: 6rem;
        margin: 0 12px;
        transition: all 0.5s ease-in-out;
        cursor: pointer;
    }

    .content {}



    .content h1 {
        margin-top: 10rem;
        margin-left: 0.5rem;
        font-weight: 600;
        font-family: sans-serif;
    }

    .main {
        display: flex;
        justify-content: space-between;
    }

    .booknowtop {
        margin-top: 10rem;
        width: 19rem;
        display: flex;
        justify-content: flex-end;
        height: 4rem;
    }

    .booknow {
        padding: 1rem;
        background-color: orange;
        color: rgb(47, 47, 47);
        font-size: 20px;
        font-weight: 600;
    }

    .name:first-child {
        margin-right: auto;
    }

    .name:last-child {
        margin-left: auto;
        text-decoration: none;
        color: black;
        background-color: orange;
        padding: 1rem;
        font-weight: 600;
        font-size: 20px;
    }

    .name:last-child:hover {
        background-color: black;
        color: orange;
    }

    .book {
        margin-top: 3rem;
        text-align: start;
        margin-bottom: 2rem;
        margin-left: 15px;
    }

    .booknow:hover {
        text-decoration: none;
        color: orange;
        background-color: black;
    }

    .Address p {
        font-size: 20px;
        color: gray;
    }


    .price {
        margin-top: 1rem;
    }

    p {
        margin: 0;
    }

    .PriceOnly {
        display: flex;
        align-items: last baseline;

    }

    .RealPrice {
        text-decoration: line-through;
        color: rgb(110, 110, 110);
        margin-left: 10px;
        font-size: 20px;
    }

    .offerprice {
        font-size: 40px;
        margin-left: 1rem;
        color: rgb(7, 7, 7);
        font-weight: 600;
    }

    .perday {
        margin-top: -15px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        color: gray;
        margin-left: 15px;
    }

    .rating {
        margin: 1rem;
        display: flex;
        color: gray;
    }

    .RatingBox {
        display: flex;
        background-color: rgb(36, 119, 0);
        padding: 2px 1rem;
        color: white;
        font-weight: 600;
        width: 69px;
        margin-right: 5px;
    }

    .RatingStar1 {
        width: 16px;
        height: 13px;
        margin-top: 4px;
        margin-left: 6px;
    }

    .sectionRating {
        display: flex;
    }

    .Amenities {
        margin-left: 15px;
        color: black;
        padding-bottom: 1rem;
    }

    .Amenities p,
    .DescriptionHead,
    .ratingsHead,
    .PoliciesHead {
        color: black;
        font-size: 25px;
        font-weight: 600;
    }

    .AmenitiesItems {
        float: left;
        margin-left: 10px;
    }

    .Items {
        display: flex;
        margin: 5px 10px;
    }

    .Items i {
        font-size: 18px;
        color: gray;
        margin-top: 5px;
        margin-right: 6px;
    }

    .ImageAmenities {
        width: 31px;
        height: 27px;
        filter: grayscale(100%) invert(60%);
        margin-left: 1rem;
        margin-right: 0.5rem;
    }

    .Items p {
        color: gray;
        font-size: 20px;
    }

    .discription {
        margin: 2rem 1rem;
    }

    .Desc {
        color: gray;
    }


    hr {
        border: 1px solid rgba(210, 210, 210, 0.64);
        border-radius: 25px;
    }

    .Ratingss {
        margin: 1rem;
        padding-top: 1rem;
    }

    .RatingsDetailedBox {
        margin-top: 1rem;
        border: 1px solid gray;
        width: 100%;
        height: 15rem;
        display: flex;
        justify-content: space-between;
    }

    .RatingLeft {
        border: 1px solid gray;
        width: 30%;
        height: 15rem;
        float: left;
        padding: 3rem 4rem;
    }



    .innerBoxSecction {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }

    .RatingGreenBox {
        width: 7rem;
        height: 3rem;
        background-color: rgb(36, 119, 0);
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .RatingStar2 {
        width: 31px;
        height: 28px;
        margin-left: 10px;
        margin-top: -5px;
    }

    .RatingGreenBox p {
        color: white;
        font-size: 30px;
        font-weight: 700;
    }

    .RatingStatus,
    .RatingConts {
        font-size: 25px;
        font-weight: 500;
        color: rgb(74, 74, 74);
    }

    .RatingStatus {
        font-weight: 700;
    }

    .ratingRight {
        border: 1px solid gray;
        width: 75%;
        height: 15rem;
        padding: 2rem;
        display: flex;
        flex-direction: column;
    }

    .SingleRating {
        display: flex;
    }

    .SingleRating p {
        font-size: 25px;
        font-weight: bold;
        color: gray;
        margin-top: -5px;
        margin-right: 5px;
        /*width: 2%;*/
    }

    .RatingStar3 {
        filter: grayscale(100%) invert(60%);
        width: 24px;
        height: 24px;
    }

    .RatingSlider {
        width: 73%;
        height: 1rem;
        background-color: rgb(202, 202, 202);
        margin: 6px 0 15px;
        border-radius: 25px;
        margin-left: 1rem;
        margin-right: 1rem;
    }

    .RatingSelected {
        width: 0%;
        height: 1rem;
        background-color: orange;
        border-radius: 25px;

    }

    .ReviewsOfUser {
        margin: 33px 15px;
        width: 100%;
    }

    .ReviewHead {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .ReviewRightSide {
        display: flex;
        align-items: center;
    }

    .userHeadIcon {
        filter: grayscale(100%) invert(60%);
        width: 40px;
        height: 40px;
    }

    .ReviewUserName {
        font-size: 20px;
        font-weight: 600;
        margin-left: 11px;
        color: rgb(53, 53, 53);
    }

    .ReviewRatingGreenBox {
        display: flex;
        background-color: rgb(36, 119, 0);
        padding: 2px 1rem;
        color: white;
        font-weight: 600;
        width: 69px;
        height: 30px;
        margin-right: 5px;

    }

    .ReviewFeedback {
        margin: 1rem 1rem;
        font-size: 17px;
        color: gray;
    }

    .review-text {
        /* display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
       /* overflow: hidden;
        /*text-overflow: ellipsis;*/

    }

    .read-more {
        display: none;
    }

    .SeeallReview {
        font-size: 20px;
        color: red;
        font-weight: 600;
        cursor: pointer;
    }

    .RemainingReviews {
        display: none;
    }

    .SearchedData {
        width: 100%;
        border: 1px solid gray;
        border-radius: 10px;
        padding: 20px;
    }

    .SearchDataHead {
        display: flex;
        justify-content: space-between;
    }

    .SearchDataHead p {
        margin-bottom: 0px;
    }

    .HeadText {
        font-size: 25px;
        font-weight: 700;
        color: black;
    }

    .EditOption {
        display: flex;
        font-size: 20px;
        color: gray;
        font-weight: 600;
    }

    .EditIcon {
        height: 30px;
        margin-right: 3px;
    }

    hr {
        background-color: gray;
    }

    .tomakeItCenter {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .chechInDIV,
    .chechOutDIV,
    .RoomsCountDiv,
    .GuestCountDiv {
        margin: 10px 30px;
        display: flex;
    }

    .label,
    .Answer {
        margin: 0px 10px;
        font-size: 20px;
    }



    .Answer {
        font-weight: 700;
    }

    .SaveOption {
        display: none;
    }

    .toSave {
        display: none;
    }

    .tomakeItCenter {
        justify-content: center;
    }

    .chechInDIVSave,
    .chechOutDIVSave,
    .RoomsCountDivSave,
    .GuestCountDivSave {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    input[type="date"] {
        border: 1px solid rgb(182, 182, 182);
        font-size: 25px;
        font-weight: 600;
        width: 172px;
        border-radius: 10px;
        margin-right: 10px;
        padding: 5px;
    }

    input[type="number"] {
        border: 1px solid rgb(182, 182, 182);
        padding: 5px;
        font-size: 25px;
        font-weight: 600;
        width: 50px;
        border-radius: 10px;
        margin-right: 10px;
    }



    .PoliciesHead {}

    .Polices {}




    @media screen and (min-width:545px) {
        .book {
            display: none;
        }
    }

    @media screen and (max-width:1040px) {
        .RatingConts {
            font-size: 20px;
        }
    }

    @media screen and (max-width:545px) {
        .booknowtop {
            display: none;
        }

        .ratingRight {
            display: none;
        }

        .RatingsDetailedBox {
            border: none;
        }

        .RatingLeft {
            width: 100%;
        }

        .RatingConts {
            font-size: 25px;
        }

    }
</style>

<script>


    function EditOptionEnable() {
        document.getElementById("Edit").style.display = "none";
        document.getElementById("toEdit").style.display = "none";

        document.getElementById("save").style.display = "block";
        document.getElementById("toSave").style.display = "flex";
    }

    function SeeAllReviews() {
        //      alert("Clicked See More Reviews")
        var SeeMoreDetails = document.getElementsByClassName("SeeallReview");
        var RemainingReview = document.getElementsByClassName("RemainingReviews");

        SeeMoreDetails[0].style.display = "none";
        RemainingReview[0].style.display = "block";
    }

    // function to convert date format from yyyy-mm-dd to dd-mm-yyyy
    function convertDateFormat() {
        // input date string in yyyy-mm-dd format
        const checkin = '{{roomSearch.checkin}}';
        const checkout = '{{roomSearch.checkout}}';

        // extract day, month, and year components
        const year = checkin.substring(0, 4);
        const month = checkin.substring(5, 7);
        const day = checkin.substring(8);

        const year2 = checkout.substring(0, 4);
        const month2 = checkout.substring(5, 7);
        const day2 = checkout.substring(8);


        // re-arrange components in dd-mm-yyyy order
        const newcheckin = `${day}-${month}-${year}`;

        const newcheckout = `${day2}-${month2}-${year2}`;
        //alert(newcheckin)

        //var Dates = newcheckin + ' to ' + newcheckout

        document.getElementById('Checkin').textContent = newcheckin
        document.getElementById('CheckOut').textContent = newcheckout

        //console.log(newDateStr); // output: 25-02-2023
    }

    // call the function when the page loads
    window.onload = convertDateFormat;
</script>